table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  padding: 8px 16px;
  text-align: left;
  border: 1px solid #ddd;
}

/* tr:nth-child(even) {
    background */
/* tr:nth-child(even) {
        background
    } */

tr:ntch-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
}
